<body >


  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo"><img src="../assets/img/puc.png" style="width: 5rem; margin-left:20px"></a>
      <a class="brand-logo" style="margin-left:120px">Cães do Campus</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/caes">Cães para Adoção</a></li>
        <li><a href="/arearestrita">Área Restrita</a></li>
      </ul>
    </div>
  </nav>

  <div>
  <router-outlet></router-outlet>
</div>


</body>

