


<div class="parallax-container">
      <div class="parallax" materialize="parallax"><img src="../../assets/img/dog1.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Cães do Campus</h2>
        <p class="grey-text text-darken-3 lighten-3">
          Cães do Campus é um projeto de extensão do curso de Medicina Veterinária da Pontifícia Universidade Católica de Minas Gerais.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax" materialize="parallax"><img src="../../assets/img/puc1.jpg"></div>
    </div>

